@import "./mixin";

.img-slide .owl-carousel {
  position: relative;
}

.owl-stage-outer {
  height: 55rem;
}

.owl-dot {
  display: none;
}
.owl-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 1rem;
  height: 100%;
  width: 100%;
  .owl-prev {
    margin-left: 5rem;
  }

  .owl-next {
    margin-right: 5rem;
  }
}
.owl-prev,
.owl-next {
  span {
    font-size: 9rem;
  }
}

.form-courses {
  right: 15rem;
  top: 35rem;
  position: absolute;
  z-index: 1000;
  background-color: white;
  padding: 2rem;
  width: 42rem;
  border-radius: 6px;
}

.social-nav {
  height: 5rem;
  background-color: var(--color-primary);
  border-bottom: var(--line);
  display: flex;
  justify-content: end;
  align-items: center;
}
.social {
  @include maxwidth;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.4rem;
  margin-right: 12.5rem;
  &__icon {
    display: block;
    font-size: 3rem;
    color: var(--color-grey-light-0);
    height: 2.8rem;
    width: 2.8rem;
    margin: 0.6rem;
  }

  &__media {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 1.2rem;
    cursor: pointer;
  }

  @media only screen and (max-width: $bp-large) {
    padding-right: 7.5rem;
  }

  @media only screen and (max-width: $bp-mobile) {
    padding-right: 0rem;
    justify-content: center;
  }
}

.contact-header {
  @include maxwidth;
  display: flex;
  padding: 1.5rem 0;
  background-color: var(--color-grey-light-0);
  justify-content: space-around;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
  h2 {
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2.6rem;
    text-transform: uppercase;
    color: var(--color-primary);
    width: 26.4rem;
    height: 5.2rem;
    padding-left: 1.2rem;
    @media only screen and (max-width: $bp-medium) {
      font-size: 1.4rem;
    }
  }

  &__logo {
    display: flex;
    flex: 0 0 33%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $bp-large) {
      justify-content: start;
    }
    @media only screen and (max-width: $bp-medium) {
      transform: translateX(33%);
    }
    @media only screen and (max-width: $bp-mobile) {
      transform: translateX(0);
    }
  }

  &__xllogo {
    width: 8.919rem;
    height: 9rem;
    flex: 0 0 20%;
    object-fit: contain;
  }

  &__information {
    flex: 0 0 60%;
    display: flex;
    justify-content: center;
    align-self: center;
    @media only screen and (max-width: $bp-large) {
      justify-content: end;
    }
    @media only screen and (max-width: $bp-medium) {
      flex: 1;
      justify-content: space-around;
      width: 100%;
      padding-top: 3rem;
    }
  }

  &__infor {
    display: flex;
    text-decoration: none;
    justify-content: start;
    align-items: center;

    p {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2rem;
      color: var(--color-grey-dark-1);
      max-width: 19rem;

      @media only screen and (max-width: $bp-largest) {
        font-size: 1rem;
      }
      @media only screen and (max-width: $bp-mobile) {
        font-size: 0.7rem;
      }
    }
  }

  &__infor:not(:first-child) {
    padding-left: 4rem;
    @media only screen and (max-width: $bp-medium) {
      padding-left: 1rem;
    }
  }

  &__smlogo {
    width: 4.4rem;
    height: 4.4rem;
    margin-right: 1.2rem;

    @media only screen and (max-width: $bp-medium) {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 0.6rem;
    }
  }
}

.navbar {
  background-color: #f7f7f7;
  max-height: 7rem;
}

.navbar-width {
  @include maxwidth;
  margin: auto;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  margin: 0 4rem;
  align-items: center;
  @media only screen and (max-width: $bp-superlargest) {
    margin: 0 5.5rem;
  }
  @media only screen and (max-width: $bp-largest) {
    margin: 0 2rem;
  }
  @media only screen and (max-width: $bp-medium) {
    padding: 2rem 1.5rem;
    margin: 0 0rem;
    height: 7rem;
  }
}

.menu-nav {
  display: none;
  @media only screen and (max-width: $bp-medium) {
    display: flex;
    margin-left: 3rem;
    &__header {
      padding: 1rem;
      border-radius: 3px;
      border: 1px solid var(--color-primary);
      font-size: 3rem;
      color: var(--color-grey-dark-1);

      &:hover {
        border: 1px solid var(--color-grey-light-0);
        background-color: var(--color-primary);
        color: var(--color-grey-light-0);
      }
    }
  }

  @media only screen and (max-width: $bp-mobile) {
    margin-left: 0rem;
  }
}

.side-nav {
  display: flex;
  list-style: none;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.642rem;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }

  &__item:first-child > &__link {
    background-color: var(--color-primary);
    color: var(--color-grey-light-0);
  }

  &__link {
    padding: 2.7rem 2rem;
    color: var(--color-grey-dark-3);
    display: block;
    text-decoration: none;
    transition: all 0.2s;
  }

  &__item:hover &__link {
    background-color: var(--color-primary);
    color: var(--color-grey-light-0);
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  &__input {
    display: block;
    border: 1px solid var(--color-grey-dark-2);
    border-right: none;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    padding-left: 1.2rem;
    padding-right: 1rem;
    width: 28rem;
    &::placeholder {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.6rem;
      letter-spacing: 0.08rem;
    }

    &:focus-visible {
      outline: 0.5px solid var(--color-grey-dark-2);
    }
  }

  &__button {
    display: block;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);

    @media only screen and (max-width: $bp-large) {
      padding-top: 0.9rem;
      padding-bottom: 0.85rem;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 55rem;
  background-image: url(../img/landscape.png);
  background-size: cover;
  position: relative;

  @media only screen and (max-width: $bp-smallest) {
    width: 100%;
    justify-content: center;
  }
  @media only screen and (max-width: $bp-mobile) {
    justify-content: center;
  }
}

.scroll-row {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-grey-dark-2);
    padding: 1.5rem 1.9rem;
    border: none;
    opacity: 0.6;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &:first-child {
      margin-left: 4rem;

      @media only screen and (max-width: $bp-mobile) {
        margin-left: 1rem;
      }
    }
    &:last-child {
      margin-right: 4rem;

      @media only screen and (max-width: $bp-mobile) {
        margin-right: 1rem;
      }
    }
  }

  &__icon {
    height: 1.8rem;
    width: 0.9rem;
  }
}

.gallery-width {
  @include maxwidth;
  margin: auto;
  margin-right: 1rem;
}

.form-gallery {
  display: flex;
  justify-content: end;

  &__title {
    display: flex;
    width: 100%;
    padding-top: 1.6rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2.41rem;
    background-color: var(--color-grey-light-1);
    border-radius: 0.8rem 0.8rem 0 0;
    p {
      color: var(--color-grey-dark-1);
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.9rem;
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem !important;
    background-color: var(--color-grey-light-0);
    margin-right: 13.5rem;
    z-index: 5;

    @media only screen and (max-width: $bp-smallest) {
      align-items: center;
      margin-right: 0rem;
    }

    @media only screen and (max-width: $bp-mobile) {
      max-width: 100%;
      margin-right: 0rem;
    }
  }

  &__authform {
    padding: 2rem;
    @media only screen and (max-width: $bp-mobile) {
      max-width: 100%;
    }
  }

  &__icon {
    font-size: 1.7rem;
    z-index: 10;
    width: 1.67rem;
  }

  &__droplist {
    font-size: 1.7rem;
    z-index: 10;
    width: 1.67rem;
    right: 1rem;
    position: absolute;
  }

  &__validate {
    flex: 1;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-left: 3.8rem;
    padding-right: 1.8rem;
    margin-left: -2.3rem;
    &::placeholder {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.642rem;
      letter-spacing: 0.08rem;
    }
  }

  &__name {
    display: flex;
    flex: 1;
    align-items: center;
  }

  &__name:not(:first-child) {
    padding-top: 1rem;
  }

  &__sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  &__courses {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    &:not(:last-child) {
      margin-right: 2rem;
      @media only screen and (max-width: $bp-mobile) {
        margin-right: 1rem;
      }
    }
  }

  &__course {
    flex: 1;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-left: 3.8rem;
    padding-right: 1.8rem;
    margin-left: -2.3rem;

    @media only screen and (max-width: $bp-mobile) {
      padding-left: 3rem;
      padding-right: 0rem;
      margin-left: -2.2rem;

      &::-webkit-input-placeholder {
        font-size: 1.2rem;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 101%;
    margin-top: 2rem;
    margin-left: -0.5rem;
    padding: 1.4rem 0.2rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    background-color: var(--color-primary);
    color: var(--color-grey-light-0);
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
  }
}

.introduce {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 63rem;
  max-width: 128rem;
  margin: auto;
  margin-top: 4.5rem;
  position: relative;
  .introduct-width {
    margin: 4.5rem 5rem;
    display: flex;

    @media only screen and (max-width: $bp-medium) {
      margin: 4.5rem 0rem;
    }
  }

  @media only screen and (max-width: $bp-largest) {
    margin: 4.5rem 3.5rem;
  }

  @media only screen and (max-width: $bp-mobile) {
    margin: 4.5rem 0.5rem;
  }

  @media only screen and (max-width: $bp-mobile) {
    margin-bottom: 10.5rem;
  }
}

.product {
  &__img {
    flex: 0 0 50%;
    display: flex;
    @media only screen and (max-width: $bp-small) {
      flex: 0 0 43%;
    }

    &--luxcar {
      position: absolute;
      height: 41.2rem;
      width: 36.5rem;
      top: 3rem;
      z-index: 1;

      @media only screen and (max-width: $bp-medium) {
        height: 27.2rem;
        width: 24.5rem;
      }

      @media only screen and (max-width: $bp-small) {
        position: absolute;
        height: 21.2rem;
        width: 18.5rem;
        top: 3rem;
      }

      @media only screen and (max-width: $bp-mobile) {
        height: 17.2rem;
        width: 15.5rem;
      }
    }

    &--normalcar {
      position: absolute;
      height: 34.8rem;
      width: 28.3rem;
      left: 27rem;
      bottom: 8rem;
      z-index: 2;

      @media only screen and (max-width: $bp-large) {
        left: 19rem;
      }

      @media only screen and (max-width: $bp-medium) {
        height: 27.2rem;
        width: 24.5rem;
        top: 20rem;
        left: 13rem;
      }

      @media only screen and (max-width: $bp-small) {
        position: absolute;
        height: 21.2rem;
        width: 18.5rem;
        left: 5rem;
        top: 16rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        position: absolute;
        height: 21.2rem;
        width: 18.5rem;
        right: 4rem;
        top: 16rem;
      }

      @media only screen and (max-width: $bp-mobile) {
        height: 17.2rem;
        width: 15.5rem;
        right: 4rem;
        top: 10rem;
        z-index: -1;
      }
    }

    &--dotcar {
      position: absolute;
      height: 14.2rem;
      width: 11.2rem;
      left: 36rem;
      top: 0rem;
      z-index: -1;

      @media only screen and (max-width: $bp-medium) {
        left: 17rem;
      }
    }
  }

  &__information {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-small) {
      padding-right: 2rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      margin-top: 0rem;
    }
    &--title {
      display: flex;
      justify-content: start;
      position: relative;

      p {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.6rem;
        padding-left: 4rem;
        color: var(--color-primary);
      }
    }

    &--main {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: flex-start;
      h1 {
        color: var(--color-grey-dark-1);
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 3.8rem;
        margin: 2.4rem 0;
        @media only screen and (max-width: $bp-smallest) {
          font-size: 2.2rem;
        }
      }

      p {
        font-family: "Roboto", sans-serif;
        color: var(--color-grey-dark-1);
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 2.4rem;
        margin-bottom: 2.4rem;
        &:last-child {
          padding-top: 2.3rem;
        }
      }
    }
  }
}

.btn-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  display: inline-block;
  color: var(--color-oganre);
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.4rem;
  cursor: pointer;
  transition: all 0.2s;
  span {
    font-size: 2rem;
    padding-left: 1rem;
  }

  &:hover {
    color: var(--color-oganre);
    border: 1px solid var(--color-oganre);
    padding: 1rem;
  }
}

.course-introduce {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  padding: 10rem 0;
  position: relative;
  @media only screen and (max-width: $bp-largest) {
    padding: 5rem 0;
  }
}

.course-image {
  &__left {
    position: absolute;
    height: 35rem;
    width: 11.8rem;
    left: 0;
    bottom: 0;
  }

  &__top {
    position: absolute;
    height: 10.8rem;
    width: 45rem;
    top: 0;
    left: 20rem;

    @media only screen and (max-width: $bp-smallest) {
      width: 20rem;
      height: 4.8rem;
    }
    @media only screen and (max-width: $bp-mobile) {
      width: 20rem;
      height: 4.8rem;
    }
  }

  &__right {
    position: absolute;
    height: 19.9rem;
    width: 34.1rem;
    right: 0;
    bottom: 0;
  }
}

.courses-introduce {
  display: flex;
  align-items: center;
  margin: 4.5rem 13.5rem;
  width: 100%;
  z-index: 10;
  @media only screen and (max-width: $bp-largest) {
    margin: 4.5rem 3.5rem;
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: $bp-largest) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-content: center;
      place-items: center;
      row-gap: 5rem;
    }

    @media only screen and (max-width: $bp-medium) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      place-content: center;
      place-items: center;
      row-gap: 5rem;
    }
  }

  &__tag {
    list-style-type: none;
  }

  &__information {
    display: flex;
    align-items: center;
    height: 15rem;
    width: 27rem;
    padding-left: 2.4rem;
    margin: 0 1.5rem;
    background-color: var(--color-grey-light-0);
    color: var(--color-primary);
    border-radius: 6px;

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-grey-light-0);
      border: 1px solid var(--color-grey-light-0);
    }
    img {
      width: 7rem;
      height: 7rem;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 25rem;
    }
  }

  &__notice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2rem;

    h2 {
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 2.4rem;
    }

    p {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.4rem;
    }
  }
}

.introducev2 {
  flex-direction: row-reverse;
  @media only screen and (max-width: $bp-mobile) {
    padding-left: 2rem;
  }
}

.product {
  &__imgv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    &--luxcar2 {
      position: absolute;
      height: 40rem;
      width: 35.7rem;
      z-index: 4;
      right: 11rem;
      bottom: 17rem;

      @media only screen and (max-width: $bp-medium) {
        height: 30rem;
        width: 25.7rem;
      }

      @media only screen and (max-width: $bp-small) {
        position: absolute;
        height: 21.2rem;
        width: 18.5rem;
        top: 10rem;
        right: 7rem;
      }

      @media only screen and (max-width: $bp-mobile) {
        height: 17.2rem;
        width: 15.5rem;
        top: 18rem;
        right: 3rem;
      }
    }

    &--normalcar2 {
      position: absolute;
      display: block;
      height: 40rem;
      width: 35.7rem;
      z-index: 3;
      top: 8.5rem;
      right: 8.5rem;

      @media only screen and (max-width: $bp-medium) {
        right: 5.5rem;
        height: 30rem;
        width: 25.7rem;
      }

      @media only screen and (max-width: $bp-small) {
        position: absolute;
        height: 21.2rem;
        width: 18.5rem;
      }

      @media only screen and (max-width: $bp-smallest) {
        height: 27rem;
        width: 26.7rem;
        right: -2rem;
      }

      @media only screen and (max-width: $bp-mobile) {
        height: 17.2rem;
        width: 15.5rem;
        right: 1.5rem;
        top: 20.5rem;
      }
    }

    &--dotcar2 {
      position: absolute;
      display: block;
      height: 40rem;
      width: 35.7rem;
      z-index: 2;
      top: 10.5rem;
      right: 6.5rem;
      @media only screen and (max-width: $bp-superlargest) {
        display: none;
      }
    }

    &--normalcar3 {
      position: absolute;
      display: block;
      height: 40rem;
      width: 35.7rem;
      z-index: 1;
      top: 11.5rem;
      right: 5.5rem;
      @media only screen and (max-width: $bp-superlargest) {
        display: none;
      }
    }
  }

  &__mainv2 {
    &--haveimg {
      display: flex;
      img {
        width: 5rem;
        height: 5rem;
      }
    }

    &--text {
      margin-left: 1.6rem;
    }

    h3 {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: var(--color-grey-dark-1);
    }

    p {
      padding-top: 0.8rem;
      &:last-child {
        padding-top: 0.8rem;
      }
    }
  }
}

.main-courses {
  background-color: #f7f8f9;
  padding: 5rem 0;
  display: flex;
  position: relative;
  align-items: center;
  @media only screen and (max-width: $bp-medium) {
    .scroll-row {
      display: none;
    }
  }
}

.choose-coursewidth {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5.5rem;
  padding-bottom: 4.5rem;
  flex-direction: column;
  @include maxwidth;
  margin: auto;

  @media only screen and (max-width: $bp-medium) {
    padding: 0rem 0rem;
  }
}

.choose-courses {
  width: 100%;
  color: var(--color-grey-dark-1);
  @media only screen and (max-width: $bp-largest) {
    padding: 2.5rem 3.5rem;
  }

  &__block {
    align-self: flex-start;
    margin-bottom: 5rem;
    @media only screen and (max-width: $bp-largest) {
      margin-bottom: 0rem;
    }
  }

  &__notice {
    position: relative;
    p {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.6rem;
      padding-left: 4rem;
      color: var(--color-primary);
    }
  }

  &__title {
    color: var(--color-grey-dark-1);
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3.8rem;
    margin: 2.4rem 0;
    @media only screen and (max-width: $bp-largest) {
      font-size: 2.2rem;
    }
  }

  &__tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    @media only screen and (max-width: $bp-medium) {
      gap: 1rem;
    }
    @media only screen and (max-width: $bp-small) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 3rem;
    }
    @media only screen and (max-width: $bp-mobile) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 3rem;
    }
  }

  &__tagcourse {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 35.7rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    background-color: var(--color-grey-light-0);
    box-shadow: 0px 3px 10px -4px var(--color-grey-dark-0);
    @media only screen and (max-width: $bp-medium) {
      max-width: 32.7rem;
    }
    &--image {
      display: block;
      position: relative;
      img {
        width: 100%;
        height: 23.7rem;
        @media only screen and (max-width: $bp-medium) {
          width: 100%;
          height: 18.7rem;
        }
      }
      p {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-oganre);
        color: var(--color-grey-light-0);
        width: 16.8rem;
        height: 5.3rem;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.1rem;
        bottom: 2rem;
        left: 2rem;
        cursor: pointer;
        @media only screen and (max-width: $bp-smallest) {
          width: 11.8rem;
          height: 4.3rem;
        }
        &:hover {
          background-color: var(--color-primary);
        }
      }
    }

    &--content {
      display: flex;
      flex-direction: column;
      margin: 2rem 2rem;
    }

    &--dateoftime {
      display: flex;
      justify-content: space-between;
    }

    &--chart {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 1.667rem;
        height: 1.667rem;
        margin-right: 1.2rem;
        @media only screen and (max-width: $bp-large) {
          margin-right: 1rem;
        }
      }

      p {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1.8rem;

        @media only screen and (max-width: $bp-large) {
          font-size: 1rem;
          line-height: 1rem;
        }
      }
    }

    &--posts {
      margin-top: 2.1rem;
      margin-bottom: 3.2rem;
      h3 {
        padding-bottom: 1.6rem;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.1rem;
      }

      p {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 2.4rem;
      }
    }

    &--button {
      padding: 1.4rem 0.7rem;
      background-color: #edeeef;
      border: none;
      color: var(--color-grey-dark-3);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.6rem;
      cursor: pointer;
      @media only screen and (max-width: $bp-medium) {
        padding: 1.4rem 0.7rem;
      }
      &:hover {
        background-color: var(--color-primary);
        color: var(--color-grey-light-0);
      }
    }
  }
}

.scroll-courses {
  position: absolute;
  bottom: 5rem;
  right: 50%;
  display: flex;
  transform: translateX(50%);
  cursor: pointer;
  &__dot {
    border-radius: 50%;
    background-color: var(--color-grey-dark-2);
    padding: 0.5rem;
    margin: 0 1rem;
    transition: all 0.2s;

    &:hover {
      border-radius: 4px;
      background-color: var(--color-oganre);
      padding: 0.5rem 1rem;
      margin: 0 1rem;
      transition: all 0.2s;
    }
  }
}

.advice-email {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/MaskGroup.png);
  background-size: cover;
  height: 59.1rem;
}

.validate-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 3rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  z-index: 1000;
  position: relative;
  &__dot {
    position: absolute;
    width: 7.2rem;
    height: 9.2rem;
    top: 12rem;
    right: -2rem;
    z-index: -1;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
    color: var(--color-grey-light-0);
    h1 {
      font-weight: 600;
      font-size: 3.2rem;
      line-height: 3.8rem;
    }

    p {
      padding-top: 1rem;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.4rem;
    }
  }

  &__authform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
  }

  &__form {
    display: flex;
    width: 100%;
    margin: 0.5rem 0;
  }

  &__validate {
    flex: 1;
    padding: 1.5rem 1rem;
  }

  &__comments {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #666666;
    flex: 1;
    padding: 1.5rem 1rem;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.4rem 1.8rem;
    background-color: var(--color-primary);
    color: var(--color-grey-light-0);
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.6rem;
    &:hover {
      background-color: #071967;
    }
  }
}

.footer-first {
  display: flex;
  flex-direction: column;
  padding: 0 5.5rem;
  @media only screen and (max-width: $bp-largest) {
    padding: 0 3.5rem;
  }

  @media only screen and (max-width: $bp-mobile) {
    padding: 0 0.5rem;
  }
  .register-email {
    display: flex;
    justify-content: space-between;
    margin: 5.4rem 0;
    color: var(--color-grey-light-0);
    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      row-gap: 3rem;
    }
    @media only screen and (max-width: $bp-mobile) {
      flex-direction: column;
      row-gap: 3rem;
    }
    &__title {
      h3 {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 2.8rem;
      }

      p {
        margin-top: 1.2rem;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.8rem;
      }
    }

    &__inputemail {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        display: flex;
        background-color: #4f69f7;
        color: var(--color-grey-light-0);
        border: none;
        padding: 1.7rem;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.6rem;
        cursor: pointer;
        @media only screen and (max-width: $bp-large) {
          padding: 1.95rem;
        }
        &:hover {
          background-color: var(--color-grey-light-0);
          color: #4f69f7;
        }
      }
    }

    &__inputform {
      width: 31.1rem;
      padding: 1.71rem 1.2rem;
      border: none;
      border-right: 1px solid #4f69f7;
      &:focus-visible {
        outline: none;
      }
    }
  }

  .line-inside {
    border: 1px solid #384ec1;
  }

  .total-infor {
    display: flex;
    margin-top: 2.6rem;
    margin-bottom: 5.6rem;
    color: var(--color-grey-light-0);
    @media only screen and (max-width: $bp-smallest) {
      flex-direction: column;
    }
    @media only screen and (max-width: $bp-mobile) {
      flex-direction: column;
    }
    &__infor {
      flex: 0 0 40%;
      padding-right: 10.1rem;

      @media only screen and (max-width: $bp-small) {
        padding-right: 3.1rem;
      }

      p {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 2.4rem;
        padding: 0.5rem 0;
      }
    }

    &__name {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.1rem;
      padding-bottom: 1.7rem;
      cursor: pointer;
    }

    &__desciption {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 1.5rem;
      line-height: 2.4rem;
      padding: 0.5rem 0;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.367rem;
        align-self: center;
        &:nth-child(3) {
          align-self: flex-start;
        }
      }
    }

    &__service {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      padding: 5rem 0rem;
    }

    &__menu {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      padding: 5rem 0rem;
    }

    &__contact {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      padding: 5rem 0rem;
      flex: 1;

      & > p:last-child a {
        align-self: start;
      }
    }

    &__title {
      display: flex;
      justify-content: start;
      align-items: center;
      padding-bottom: 2rem;
      h1 {
        font-weight: 700;
        font-size: 1.9rem;
        line-height: 2.6rem;
      }
    }
    &__img {
      width: 7rem;
      height: 7rem;
      background-color: var(--color-grey-light-0);
      border-radius: 50%;
      margin-right: 1.6rem;
    }

    &__social {
      display: flex;
      padding-top: 2.4rem;
      a {
        display: flex;
        &:not(:first-child) {
          margin-left: 1.2rem;
        }
      }
    }
  }
}

.last-footer {
  background-color: #273ba5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.3rem 6.1rem;

  p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}

.line-product {
  position: absolute;
  top: 0.8rem;
  left: 0;
  width: 3rem;
  border-top: 1px solid var(--color-primary);
}

.nice {
  .image {
    width: 10rem;
    height: 10rem;
  }
}
